{{> head}}


{{> navbar}}

    <div class="row">

        <div class="col-5">
            <h1>Pagina Web con NodeJS y HandleBars</h1>
            <p>รณ como se escriba...!!</p>
        </div>

        <div class="col-7">
            <img src="assets/img/building.jpg" alt=""  class="img-thumbnail">
        </div>
    </div>

{{> footer}}